In [8]:
import pandas as pd

# Create a multi-level column index
column_index = pd.MultiIndex.from_tuples(
    [
        ("Level 1", "Sub-level 1.1"),
        ("Level 1", "Sub-level 1.2"),
        ("Level 2", "Sub-level 2.1"),
        ("Level 2", "Sub-level 2.2"),
    ],
    names=["Level", "Sub-level"],
)

# Create a sample DataFrame with the multi-level column index
data = {
    ("Level 1", "Sub-level 1.1"): [1, 2, 3],
    ("Level 1", "Sub-level 1.2"): [4, 5, 6],
    ("Level 2", "Sub-level 2.1"): [7, 8, 9],
    ("Level 2", "Sub-level 2.2"): [10, 11, 12],
}
df = pd.DataFrame(data, index=["A", "B", "C"])

# Display the DataFrame
df

        Level 1                     Level 2
  Sub-level 1.1 Sub-level 1.2 Sub-level 2.1 Sub-level 2.2
A             1             4             7            10
B             2             5             8            11
C             3             6             9            12

In [10]:
print(df.to_markdown())

|    |   ('Level 1', 'Sub-level 1.1') |   ('Level 1', 'Sub-level 1.2') |   ('Level 2', 'Sub-level 2.1') |   ('Level 2', 'Sub-level 2.2') |
|:---|-------------------------------:|-------------------------------:|-------------------------------:|-------------------------------:|
| A  |                              1 |                              4 |                              7 |                             10 |
| B  |                              2 |                              5 |                              8 |                             11 |
| C  |                              3 |                              6 |                              9 |                             12 |

In [22]:
from IPython.display import display, HTML

display(HTML(df.to_html()))

In [23]:
print(df.to_latex())

\begin{tabular}{lrrrr}
\toprule
 & \multicolumn{2}{r}{Level 1} & \multicolumn{2}{r}{Level 2} \\
 & Sub-level 1.1 & Sub-level 1.2 & Sub-level 2.1 & Sub-level 2.2 \\
\midrule
A & 1 & 4 & 7 & 10 \\
B & 2 & 5 & 8 & 11 \\
C & 3 & 6 & 9 & 12 \\
\bottomrule
\end{tabular}

In [36]:
import importlib
import utils.evaluate_table_formats as evaluate_table_formats
importlib.reload(evaluate_table_formats)

In [33]:
df2 = evaluate_table_formats.create_decks(1, num_cols=20)[0]
df2 = evaluate_table_formats.designate_target(df2, 4, '!')
print(df2.to_latex())

\begin{tabular}{lllllllllllllllllllll}
\toprule
 & g & p & c & k & ! & w & x & z & l & i & o & j & s & d & r & v & u & y & e & m \\
\midrule
0 & i & t & h & a & k & r & l & d & g & s & o & m & z & b & q & j & x & p & y & n \\
\bottomrule
\end{tabular}

In [35]:
print("In this markdown table, what value falls under header \"!\"?\n\nDo not explain, only answer.\n| !   | i   | x   | s   | g   | d   | u   | a   | b   | f   | c   | p   | h   | j   | y   | o   | z   | r   | w   | m   |\n|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|\n| f   | l   | k   | t   | s   | y   | b   | j   | e   | h   | c   | m   | a   | g   | q   | p   | u   | i   | r   | n   |\n")

In this markdown table, what value falls under header "!"?

Do not explain, only answer.
| !   | i   | x   | s   | g   | d   | u   | a   | b   | f   | c   | p   | h   | j   | y   | o   | z   | r   | w   | m   |
|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|:----|
| f   | l   | k   | t   | s   | y   | b   | j   | e   | h   | c   | m   | a   | g   | q   | p   | u   | i   | r   | n   |